<h1>Занесение новости</h1>

{% include 'TestNewsBundle:News:form.html.twig' %}


<ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Назад к списку
        </a>
    </li>
</ul>
